* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reseting all values */

body {
  background-color: #292524;
  /* border: 2px solid red;  Border format*/
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 20px; /* we want space with the internal elements of body */
  /* tailwind colors https://tailwindcss.com/docs/customizing-colors */
}

.header {
  margin-bottom: 40px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  /* order is very important, if you put padding-left before padding, padding would overwrite it*/
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  color: white;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px; /* top,bottom and left and right*/
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
}

ul {
  list-style: none;
}
