* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reseting all values */

body {
  background-color: #292524;
  /* border: 2px solid red;  Border format*/
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 20px; /* we want space with the internal elements of body */
  /* tailwind colors https://tailwindcss.com/docs/customizing-colors */
}

.header {
  margin-bottom: 40px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  gap: 16px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  /* order is very important, if you put padding-left before padding, padding would overwrite it*/
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  color: white;
  /* background-color: purple; */
  line-height: 1; /* to put the font below it as margin was not working */
  margin-top: 5px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px; /* top,bottom and left and right*/
  display: flex;
  align-items: center;
  gap: 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.vote-buttons {
  background-color: red;
  margin-left: auto;
}

ul {
  list-style: none;
}

/* .test {
  background-color: black;
  display: grid;
  grid-template-columns: 100px 200px; 
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 300px;
  /* row height */
  /* gap: 30px; */
  column-gap: 30px;
  row-gap: 50px;
}

.child {
  background-color: red;
} */
